//*===== banner area start ====*//
.banner-area {
    height: 800px;
    @extend %flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/banner/01.jpg);
    .banner-content {
        text-align: center;
        h2 {
            margin: 0;
            font-size: 30px;
            line-height: 1.5;
            max-width: 821px;
            margin: 0 auto;
            color: $white-color;
            font-family: $Exo;
            text-transform: uppercase;
            @include breakpoint (sm) {
                font-size: 60px;
                line-height: 76px;
            }
        }
        p {
            margin: 0;
            color: $white-color;
            max-width: 700px;
            margin: auto;
            padding-top: 25px;
        }
    }
}
//*===== banner area start ====*//